body {
    margin: 100px;
}
h1 {
    text-align: center;
    color: blue;
    font-size: 36px;
}
h2 {
    color: purple;
    font-weight: bold;
    font-size: 28px;
}
h3 {
    font-weight: lighter;
    font-family: Arial;
    font-size: 24px;
}
pre {
    color: green;
    font-size: 24px;
}