body {
    margin: 100px;
}
a {
    font-size: 30px;
}
h1 {
    text-align: center;
    color: blue;
    font-size: 36px;
}
caption {
    font-size: 24px;
    font-family: arial;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: left;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    padding: 20px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(209, 245, 245);
    height: 50px;
}
td {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
    font-family: arial;
}
pre {
    text-align: left;
    font-size: 18px;
    font-family: arial;
}
